<h1>Carrito de compras</h1>



<ul>
    <div class="card-container" >
  {{#each products}}
      <div class="card">
        <img  src={{this.image}} alt="">
        <h3> {{this.title}} </h3>
        <p> {{this.description}} </p>
        <h3>u$d: {{this.price}}</h3>
        <h3>Cantidad: {{this.quantity}}</h3>
    </div>

  {{/each}}
  </div>
  </ul>